*{margin:0;padding:0;box-sizing:border-box;}
body{background-color:gray; padding: 50px 0px;}
.hero_page{text-align: center;}
h1{margin-bottom: 30px;}
p{margin-bottom: 30px;}
button{margin-bottom: 30px;}
div{margin-bottom: 30px;}